@font-face {
    font-family: 'VG5000';
    src:    url('VG5000-Regular_web.eot');
    src:    url('VG5000-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('VG5000-Regular_web.woff') format('woff'),
            url('VG5000-Regular_web.woff2') format('woff2'),
            url('VG5000-Regular_web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html,
body {
	font-family: 'VG5000', monospace;
	background-color: #222;
}

#content {
	max-width: 800px;
	margin: auto;
}

h1 {
	font-size: 28pt;
}

#waive {
    /*position: relative;*/
    width: min-content;
    transform: scale(1);
    transform-origin: top left;
    padding: 30px;
    /*width: 100vw;*/
	/*display: grid;
	grid-template-columns: 800px auto;*/
}

#waive h2 {
    color: #C4C4C4;
    font-size: 32pt;
	padding-right: 15px;
	user-select: none;
	/*width: 5em;*/
}

.instrument-rack {
    width: min-content;
	display: grid;
	grid-template-columns: 800px auto;
}


p {
    font-size: 12pt;
}

.center {
    justify-content: center;
}


.play-area {
    position: relative;
    border: 1px #555 solid;
    width: 800px;
}


.p-bar {
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #F80;
}

.timeline {
	position: absolute;
	top: -12px;
	height: 12px;
	width: 800px;
	padding: 0px;
	margin: 0px;
}

#transport-controls {
    position: relative;
    background-color: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #9C9C9C;
}

#transport-time {
    color: #9C9C9C;
    font-size: 38pt;
    margin-right: 10px;
    user-select: none;
    letter-spacing: 10px;
}

.transport-btn {
    border: none;
    color: #FEFEFE;
    background-color: inherit;
    font-size: 26pt;
    margin: 0 10px;
    cursor: pointer;
}

.transport-btn:hover {
    color: #F80;
    background-color: inherit;
}

.transport-input {
    background-color: inherit;
    color: #FEFEFE;
    margin: 2px;
	border: 1px solid #9C9C9C;
	width: 60px;
	height: 20px;
    cursor: pointer;
    user-select: none;
}

#play {
    font-family: monospace;
    font-size: 32pt;
    width: 1em;
}

#bpm {
	display: flex;
	padding: 0 3px;
}

#bpm span:first-child{
    flex-grow: 2;
}

.bpm-btn {
    width: 12px;
    cursor: pointer;
    font-size: 10pt;
    user-select: none;
}

#loop-length {
    padding: 0px 5px;
}

#osc-status {
    position: absolute;
    color: #F80;
    font-size: 8pt;
   	top: 0;
   	left: 5px;
   	display: none;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 60px;
	margin: 30px 3px 15px 3px;
}

.bar-pool {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 800px;
    height: 80px;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    background-color: #282828;
    box-shadow: inset 1px 0px 10px #555;
    grid-column-start: 1;
    grid-column-end: 3;
}

.bar-pool::-webkit-scrollbar {
        width: 12px;
}

.bar-pool::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            border-radius: 10px;
}

.bar-pool::-webkit-scrollbar-thumb {
        border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.bar {
    max-width: 98px;
    min-width: 98px;
    width: 98px;
    margin: 1px;
    padding: 0 2px;
    border: 1px black solid;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: max-width 0.3s, min-width 0.3s;
    overflow: hidden;
}

.bar:hover {
    border: 1px #F80 solid;
}

.bar > .bar-title {
    text-align: left;
    padding-left: 2px;
}

.bar-title span {
    margin-left: 4px;
}

.bar-preview {
    width: 98px;
    height: 100%;
}

.bar-controls {
    position: absolute;
    display: block;
    height: 10pt;
    top: 1px;
    right: 1px;
}

.bar-controls:hover {
    display: block;
}

.bar-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000A;
	color: white;
	font-size: 8pt;
	display: none;
}

.bar-overlay:hover {
    display: block;
}

.bar-arrangement {
    width: 198px;
    position: absolute;
    height: calc(100% - 4px);
    margin: 2px 0px;
    border: 1px black solid;
    cursor: not-allowed;
}

.bar-arrangement:hover {
    border: 1px #F80 solid;
}

.arrangementView {
    width: 800px;
    height: 100%;
}

.spacer {
    flex-grow: 2;
}

.ins-label {
    font-size: 16pt;
    color: #C4C4C4;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	/*background-color: #444;
	border: solid 1px black;*/
}

.sample-request-controls {
	display: grid;
	grid-template-columns: 5em auto;
	margin-right: 10px;
	align-items: center;
}

.controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drum-sample-name {
    font-size: 12pt;
	grid-column-start: 1;
	grid-column-end: 3;
	background-color: darkgray;
	overflow: hidden;
	width: 100%;
	line-break: anywhere;
	color: black;
	padding: 6px;
	height: calc(12px + 12pt);

}

.btn {
	background-color: #434343;
	border: none;
	margin: 10px 10px;
	padding: 10px;
	width: max-content;
	min-width: 40px;
	text-align: center;
	cursor: pointer;
	user-select: none;
	color: white;
	font-size: 12pt;
}

.btn:hover {
	background-color: #F80;
	color: #333;
}


.input-knob {
	cursor: pointer;
}

.knob-label {
    font-size: 12pt;
    color: #C4C4C4;
}

.meter-bg {
    position: relative;
	width: 10px;
	height: 50px;
	background-color: #333;
	border: solid 1px black;
}

.meter-level {
	width: 100%;
	max-height: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
	background-color: #F80;
}

.fx-box {
	border: solid 2px #414141;
	padding: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2px 2px;
}

.fx-name, .fx-parameter, .bar-title {
	font-size: 12pt;
	width: 100%;
	text-align: center;
	user-select: none;
}

.fx-name {
	background-color: darkkhaki;
	cursor: pointer;
	font-size: 12pt;
}

.fx-knobs {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
}

.fx-knob {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fx-knob span {
	margin: -5px 3px;
}

.meter {
	width: 10px;
	height: 100%;
	border: 1px solid #CCC;
}

.meter div {
	height: 0px;
	width: 100%;
	background-color: #CCC;
}

select {
	height: fit-content;
	width: min-content;
}


#request-result {
    padding: 5px;
	background-color: #FFA;
	color: #444;
	font-size: 8pt;
}

.stripe {
    width: 10px;
    height: 100%;
    border: 0;
    margin: 0 5px 0 0;
}

#drum-channels {
	height: 300;
	display: flex;
	flex-direction: column;
}

.ins-channel {
	border: solid 2px #414141;
	display: flex;
	align-items: center;
	padding: 5px;
	width: fit-content;
}

.fx-chain-container {
	display: flex;
	flex-direction: row;
	/*margin-left: auto;*/
}

.beatgrid {
	width: 100%;
	height: 300px;
}

/*
#drum-header {
    background-color: #F00;
    color: black;
}

#bass-header {
    background-color: #F80;
    color: black;
}

#sampler-header {
    background-color: #FF0;
    color: black;
}

#master-header {
    background-color: #0F0;
    color: black;
}
*/
