html,
body {
	font-family: arial;
}

#content {
	max-width: 800px;
	margin: auto;
}

h1 {
	font-size: 28pt;
}

#waive {
    position: relative;
    left: 50%;
    transform: translateX(-50%) scale(0.85);
	width: fit-content;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: flex-start;
	background-color: #CCC;
	border: solid 1px black;
	filter: drop-shadow(5px 5px 16px gray);
	border-radius: 16px;
	padding: 10px;
}

#waive h2 {
	font-family: monospace;
	padding-left: 2em;
	width: 100%;
	text-align: center;
	background-color: darkgray;
	user-select: none;
}

p {
    font-size: 12pt;
}


.play-area {
    position: relative;
    border: 1px #AAA solid;
    width: 800px;
}


.p-bar {
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #F80;
}

.row {
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.bar-pool {
    overflow: scroll;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    background-color: #AAA;
}

.bar {
    min-width: 98px;
    margin: 1px;
    border: 1px black solid;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.bar:hover {
    border: 1px #F80 solid;
}

.bar-preview {
    width: 98px;
    height: 100%;
}

.bar-arrangement {
    width: 198px;
    position: absolute;
    height: calc(100% - 4px);
    margin: 2px 0px;
    border: 1px black solid;
    cursor: not-allowed;
}

.bar-arrangement:hover {
    border: 1px #F80 solid;
}

.arrangementView {
    width: 800px;
    height: 100%;
}

.spacer {
    flex-grow: 2;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #999;
	border: solid 1px black;
}

.sample-request-controls {
	display: grid;
	grid-template-columns: auto auto auto auto;
	margin-right: 20px;
	width: 240px;
}

.drum-sample-name {
	grid-column-start: 1;
	grid-column-end: 5;
	background-color: darkgray;
	font-size: 11px;
	overflow: hidden;
	width: 100%;
	height: 13pt;
	line-break: anywhere;
	font-family: monospace;
	color: black;
}

.btn {
	background-color: #AAA;
	border: solid 1px #333;
	margin: 10px 10px;
	padding: 10px;
	width: fit-content;
	cursor: pointer;
	user-select: none;
}

.btn:hover {
	background-color: #F80;
	color: #333;
}

#bpm {
	height: 20px;
	width: 50px;
}

.input-knob {
	cursor: pointer;
}

.meter-bg {
    position: relative;
	width: 10px;
	height: 50px;
	background-color: #333;
	border: solid 1px black;
}

.meter-level {
	width: 100%;
	max-height: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
	background-color: #F80;
}

.fx-box {
	border: solid 1px #333;
	padding: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2px 2px;
}

.fx-name, .fx-parameter, .bar-title {
	font-family: monospace;
	font-size: 10px;
	width: 100%;
	text-align: center;
	user-select: none;
}

.fx-name {
	background-color: darkkhaki;
	cursor: pointer;
}

.fx-knobs {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.fx-knob {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fx-knob span {
	margin-top: -5px;
}

.meter {
	width: 10px;
	height: 100%;
	border: 1px solid #CCC;
}

.meter div {
	height: 0px;
	width: 100%;
	background-color: #CCC;
}

select {
	height: fit-content;
}


#request-result {
    padding: 5px;
	background-color: #FFA;
	font-family: monospace;
	color: #444;
	font-size: 8pt;
}

.stripe {
    width: 10px;
    height: 100%;
    border: 0;
    margin: 0 5px 0 0;
}

#drum-channels {
	height: 300;
	display: flex;
	flex-direction: column;
}

.ins-channel {
	border: solid 1px black;
	background-color: #999;
	display: flex;
	align-items: center;
	padding: 5px 20px;
}

.fx-chain-container {
	display: flex;
	flex-direction: row;
	margin-left: auto;
}

.beatgrid {
	width: 100%;
	height: 300px;
}

